.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
release/*.apk
release/*.aab

android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/

*.iml
.idea/
.vscode/
.tools/
